:root {
    --color-blue: rgba(22, 45, 84, 1);
    --color-bronze: rgba(157, 108, 56, 1);
    --color-dark: #1A1A1A;
    --color-gray: #808080;
    --color-nav-bg: rgba(22, 45, 84, 0.65);
}

* {
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
    overflow-x: hidden;
}

html, body {
    width: 100vw;
    min-height: 100vh;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff var(--color-blue);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    background: var(--color-blue);
  }

  /* *::-webkit-scrollbar-track {
    background: rgba(22, 45, 84, 0.10);
  } */
  ::-webkit-scrollbar-track {
    display: none;
    background: var(--color-blue);
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 0px;
    border: 0px solid rgba(22, 45, 84, 0.40);
  }

/* NAVBAR */

nav {
    position: fixed;
    width: calc(100% - 5px);
    margin-right: 18px;
    z-index: 9999;
}

.navbar {
    background-color: var(--color-nav-bg);
    position: relative;
    bottom: 10vh;
    transition: all 1s ease;
    height: 10vh;
    animation: drop-nav 5s cubic-bezier(0.19, 0.95, 0.82, 1.04);
    border-bottom: 1px solid var(--color-bronze)
}

@keyframes drop-nav{
    25% {
        bottom: 0vh;
    }
    50%{
        bottom: 0vh;
    }
    100% {
        bottom: 10vh;
    }
}

nav:hover > .navbar {
    bottom: 0;
}

nav ul {
    width: 30%;
}

nav a {
    text-decoration: none;
    color: rgb(190, 190, 190);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.6rem;
    letter-spacing: -1px;
    word-spacing: 1px;
    padding: 0 0.3rem;
    text-align: center;
}

nav a:hover {
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
}

.nav__title {
    font-family: 'Bellefair', serif;
}

.nav__title h3 {
    font-size: 2rem;
}

.nav__title p {
    font-size: 0.8rem;
}

@media only screen and (min-width: 1440px){
    nav a {
        font-size: 0.9rem;
        padding: 0 0.3rem;
    }
    nav a:hover {
        border-left: 2px solid white;
        border-right: 2px solid white;
    }
}

/* -----------------------------------------------------------MAIN------------------------ */

main {
    height: 100%;
    width: 100%;
}

.main__container {
    width: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

/* SECTION ONE */

.section__one {
    background-image: url(./media/img/background-1.jpg);
    background-size: cover;
    background-position: bottom center;
    font-family: 'Bellefair', serif;
    color: white;
}

.section__one div {
    overflow-y: hidden;
}

.title__div {
    overflow-y: hidden;
}

.section__one img {
    transform: rotate(90deg);
    animation: logo 2s ease forwards;
    
}
@keyframes logo{
    10%{
        transform: rotate(90deg)
    }
    100%{
        transform: rotate(0deg)
    }
}
.section__one h1 {
    font-size: 5rem;
    position: relative;
    right: 100vh;
    opacity: 0;
    animation: title 2s ease forwards;
}
@keyframes title{
    50%{
        right: -10vh;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}
.section__one h2 {
    font-size: 2rem;
    position: relative;
    top: 100vh;
    opacity: 0;
    animation: title-two 3s ease forwards;
}
@keyframes title-two{
    50% {
        top: 100vh;
    }
    70% {
        top: -5vh;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

/* SECTION TWO */

.section__two {
}

.show__video {
    /* display: inline-block; */
    height: 100%;
    width: 100vw;
}

.show__video video {
    position: relative;
    height: 100%;
    /* min-width: 100vw; */
    /* right: 0; */
    /* top: 100vh; */
}

.show__video h4 {
    position: relative;
    width: 70%;
    margin: 0;
    text-align: center;
    bottom: 80vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 3rem;
}

/* SECTION THREE */

.section__three {
    background-image: url(./media/img/background-7.jpg);
    background-size: cover;
    background-position: bottom right;
}

/* SECTION FOUR */

.section__four {
    background-image: url(./media/img/background-palms-2.jpg);
}

.section__four--content {
    margin: 0 auto;
    margin-top: 15vh;
    text-align: center;
}

.section__four--content img {
    height: 50px;
    margin-bottom: 2vh;
    position: relative;
    bottom: 100vh;
    opacity: 0;
    transition: all 2s ease;
}

.section__four--content h3 {
    font-family:'Bellefair', serif;
    letter-spacing: -1px;
    color: var(--color-dark);
    position: relative;
    right: 100vw;
    opacity: 0;
    transition: all 2s ease;
}

.section__four--content p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 300;
    color: var(--color-gray);
    position: relative;
    left: 100vw;
    opacity: 0;
    transition: all 2s ease;
}

.section__four:hover .section__four--content h3 {
    right: 0;
    opacity: 1;
}
.section__four:hover .section__four--content p {
    left: 0;
    opacity: 1;
}
.section__four:hover .section__four--content img {
    bottom: 0;
    opacity: 1;
}

.section__four--img {
    position: relative;
    top: 100vh;
    opacity: 0;
    transition: all 2s ease;
}
.section__four:hover .section__four--img {
    top: 0;
    opacity: 1;
}

.scroll {
    height: 15vh;
    position: relative;
    top: 100vh;
    opacity: 0;
    transition: all 2s ease;
}
.section__four:hover .scroll {
    top: 0;
    opacity: 1;
}

.scroll p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--color-dark);
}

.point {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--color-blue);
}

.section__four--footer {
    border-top: 2px solid black;
    height: 10vh;
    /* margin-top: auto; */
}

@media only screen and (min-width: 1440px){
    .section__four--content h3 {
        font-size: 2rem;
        overflow-y: hidden;
    }
    .section__four--content p {
        font-size: 1.3rem;
    }
}

/* SECTION FIVE */

.section__five {
    background-image: url(./media/img/background-2.jpg);
    background-size: cover;
}

.section__five--content {
    margin-top: 25vh;
    height: 50vh;
    position: relative;
    overflow-y: hidden;
}

.section__five--content h3 {
    font-family:'Bellefair', serif;
    letter-spacing: 1px;
}

.section__five--content img {
    height: 50px;
}

.section__five--content div {
    position: relative;
    right: 100vw;
    opacity: 0;
    transition: all 2s ease;
}
.section__five:hover .section__five--content div {
    right: 0;
    opacity: 1;
}

.section__five--content p {
    font-family:'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 200;
    font-size: 1rem;
    position: relative;
    /* left: 100vw; */
    opacity: 0;
    transition: all 1s ease-in;
}
.section__five:hover .section__five--content p {
    /* left: 0; */
    opacity: 1;
}

.section__five--content button {
    width: 30%;
    padding: 1rem;
    background: none;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    color: white;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    top: 100vh;
    opacity: 1;
    transition: all 2s ease;
}
.section__five--content button:hover {
    background-color: white;
    color: black;
}
.section__five:hover .section__five--content button {
    top: 0;
    opacity: 1;
}

.section__five--footer {
    margin-top: auto;
    height: 10vh;
    border-top: 2px solid var(--color-bronze);
}

@media only screen and (min-width: 1440px){
    .section__five--content h3 {
        font-size: 2.1rem;
        overflow-y: hidden;
    }
    .section__five--content p {
        font-size: 1.4rem;
    }
    .section__five--content button {
        font-size: 1.5rem;
    }
}

/* SECTION SIX */

.section__six {
    background-image: url(./media/img/background-3.jpg);
    background-size: cover;
}

.section__six--content {
    margin-top: 30vh;
}

.section__six--content div {
    position: relative;
    left: 100vw;
    opacity: 0;
    transition: all 2s ease;
}
.section__six:hover .section__six--content div {
    left: 0;
    opacity: 1;
}

.section__six--content h3 {
    font-family:'Bellefair', serif;
    letter-spacing: 1px;
    color: var(--color-dark);
}

.section__six--content p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 300;
    color: var(--color-dark);
    position: relative;
    right: 100vw;
    opacity: 0;
    transition: all 2s ease;
}
.section__six:hover .section__six--content p {
    right: 0;
    opacity: 1;
}

.section__six--content img{
    height: 50px;
}

.section__six--footer {
    height: 10vh;
    margin-top: auto;
    border-top: solid 2px var(--color-blue)
}

@media only screen and (min-width: 1440px){
    .section__six--content h3 {
        font-size: 2.1rem;
        overflow-y: hidden;
    }
    .section__six--content p {
        font-size: 1.4rem;
    }
}

/* SECTION SEVEN*/

.section__seven {
    background-image: url(./media/img/background-4.jpg);
    background-size: cover;
    background-position: center center;
}

.section__seven--content {
    margin-top: 30vh;
    height: 50vh;
    position: relative;
    overflow-y: hidden;
}

.section__seven--content h3 {
    font-family:'Bellefair', serif;
    letter-spacing: 1px;
}

.section__seven--content img {
    height: 50px;
}

.section__seven--content div {
    position: relative;
    right: 100vw;
    opacity: 0;
    transition: all 2s ease;
}
.section__seven:hover .section__seven--content div {
    right: 0;
    opacity: 1;
}

.section__seven--content p {
    font-family:'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 200;
    font-size: 1rem;
    position: relative;
    text-align: end;
    right: 100vw;
    opacity: 0;
    transition: all 3s ease;
}
.section__seven:hover .section__seven--content p {
    right: 0;
    opacity: 1;
}

.section__seven--content button {
    width: 30%;
    padding: 1rem;
    background: none;
    border: 2px solid white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 1rem;
    font-weight: 300;
    position: relative;
    right: 100vh;
    opacity: 0;
    transition: all 2s ease;
    color: white;
}
.section__seven--content button:hover {
    background-color: white;
    color: black;
}
.section__seven:hover .section__seven--content button {
    right: 0;
    opacity: 1;
}

.section__seven--footer {
    margin-top: auto;
    height: 10vh;
    border-top: 2px solid var(--color-bronze);
}

@media only screen and (min-width: 1440px){
    .section__seven--content h3 {
        font-size: 2.1rem;
        overflow-y: hidden;
    }
    .section__seven--content p {
        font-size: 1.4rem;
    }
    .section__seven--content button {
        font-size: 1.5rem;
    }
}

/* SECTION EIGHT */

.section__eight--one {
    background-image: url(./media/img/background-5.jpg);
    background-size: cover;
    background-position: bottom right;
    height: 60%;
    border-bottom: 8px solid var(--color-blue);
}

.section__eight--two {
    background-image: url(./media/img/background-6.jpg);
    background-size: cover;
    height: 40%;
}

.section__eight--content {
    margin-top: 25vh;
}

.section__eight--content div {
    position: relative;
    right: 100vw;
    opacity: 0;
    transition: all 2s ease;
}
.section__eight:hover .section__eight--content div {
    right: 0;
    opacity: 1;
}

.section__eight--content h3 {
    font-family:'Bellefair', serif;
    letter-spacing: 1px;
    color: var(--color-dark);
}

.section__eight--content p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-weight: 300;
    color: var(--color-dark);
    position: relative;
    left: 100vw;
    opacity: 0;
    transition: all 2s ease;
}
.section__eight:hover .section__eight--content p {
    left: 0;
    opacity: 1;
}

.section__eight--content img{
    height: 50px;
}

.section__eight--list {
    width: 50%;
    position: relative;
    right: 100vw;
    opacity: 0;
    transition: all 2s ease;
}
.section__eight:hover .section__eight--list{
    right: 0;
    opacity: 1;
}

.section__eight--footer {
    margin-top: auto;
    height: 10vh;
    border-top: 2px solid var(--color-blue);
}

@media only screen and (min-width: 1440px){
    .section__eight--content h3 {
        font-size: 2.1rem;
        overflow-y: hidden;
    }
    .section__eight--content p {
        font-size: 1.4rem;
    }
}

/* SECTION NINE */

.section__nine {
    background-image: url(./media/img/background-palms-2.jpg);
    background-size: cover;
    background-position: top right;
    padding-top: 10vh;
}

.section__nine .section__nine--logo-one{
    height: 40px;
    position: relative;
    bottom: 100vh;
    opacity: 0;
    transition: all 1s ease;
}
.section__nine:hover .section__nine--logo-one{
    bottom: 0;
    opacity: 1;
}

.section__nine--content {
    background-color: var(--color-blue);
    height: 35%;
    position: relative;
    top: 100vh;
    opacity: 0;
    transition: all 1s ease;
}
.section__nine:hover .section__nine--content {
    top: 0;
    opacity: 1;
}


.section__nine--content h3 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    font-size: 1.8rem;
    font-weight: 300;
}

.section__nine--content p {
    font-family: 'Lato', sans-serif;
    color: #C5C5C5;
    letter-spacing: -1px;
    font-size: 1rem;
    font-weight: 300;
}

.section__nine--content button {
    width: 30%;
    padding: 1rem;
    background: none;
    color: var(--color-bronze);
    border: 2px solid var(--color-bronze);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    font-size: 1rem;
    font-weight: 400;
    transition: all 1s ease;
}
.section__nine--content button:hover {
    background-color: var(--color-bronze);
    color: var(--color-blue);
}

.last {
    height: 40%;
    margin-top: 5vh;
}

.last h5{
    font-family:'Bellefair', serif;
    letter-spacing: 1px;
    font-size: 2rem;
}

.last img {
    height: 100px;
}

.section__nine--footer {
    margin-top: auto;
    border-top: 2px solid var(--color-blue);
    height: 10vh;
}

.section__nine--footer img {
    height: 40px;
}

@media only screen and (min-width: 1440px) {
    .section__nine--content h3 {
        font-size: 2.1rem;
        overflow-y: hidden;
    }
    .section__nine--content p {
        font-size: 1.4rem;
    }
    .section__nine--content button {
        font-size: 1.5rem;
    }
}

/* FOOTER */

.footer {
    background-image: url(./media/img/footer-bg.jpg);
    background-size: cover;
    background-position: top right;
}

.footer__one {
    margin-top: 18vh;
}

.footer__one--two, .footer__one--three {
    width: 30%;
}

.footer__one--one {
    width: 40%;
}

.footer__one--one h5 {
    font-family:'Bellefair', serif;
    letter-spacing: 1px;
    font-size: 2rem;
}

.footer__one--one p {
    font-family:'Bellefair', serif;
    letter-spacing: 1px;
    font-size: 1rem;
}

.footer__info img {
    height: 40px;
    width: 40px;
}

.footer__info p {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    width: 100%;
    margin-bottom: 0;
    text-align: start;
}

.contact__title {
    font-size: 0.8rem;
    font-weight: 500;
}

.contact__info {
    font-size: 0.7rem;
    font-weight: 300;
}

.footer__two--content {
    font-size: 0.6rem;
    width: 75%;
}

.footer__two--content p{
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    font-size: 0.6rem;
    font-weight: 300;
}

.footer__two--content div{
    border-top: solid 1px white;
    margin-top: auto;
}

.footer__two--content ul{
    margin-top: auto;
}

.footer__two--content img{
    height: 15px;
}

.footer__info--two p {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
}

.footer__info--two img {
    height: 60px;
    width: 60px;
}

@media only screen and (min-width: 1440px) {
    .footer__one--one h5 {
        font-family:'Bellefair', serif;
        letter-spacing: 1px;
        font-size: 3.2rem;
    }
    
    .footer__one--one p {
        font-family:'Bellefair', serif;
        letter-spacing: 1px;
        font-size: 2rem;
    }
    .footer__info img {
        height: 60px;
        width: 60px;
    }
    
    .footer__info p {
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 0px;
        width: 100%;
        margin-bottom: 0;
        text-align: start;
    }
    
    .contact__title {
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .contact__info {
        font-size: 1rem;
        font-weight: 300;
    }
    .footer__two--content {
        font-size: 1rem;
        width: 50%;
    }
    
    .footer__two--content p{
        font-size: 1rem;
    }
    .footer__two--content img{
        height: 30px;
    }
}

